<h1>Reset your password</h1>
<div class="alert alert-secondary" role="alert" *ngIf="alertMsg">{{alertMsg}}</div>
<form (submit)="onSubmit()" #hnForm="ngForm" novalidate>
    <div class="form-group">                    
            <div>
                <label for="username">Username</label>
                <input class="form-control" type="text" name="username" [(ngModel)]="username" required minlength="3" #nameField="ngModel" />
                <div class="alert alert-danger" *ngIf="(hnForm.submitted || nameField.dirty || nameField.touched) && nameField.errors">
                    <div [hidden]="!nameField.errors.required">Username is required</div>
                    <div [hidden]="!nameField.errors.minlength">Username must be a minimum of 3 characters long</div>
                </div>
            </div>
    </div>
    <button  class="btn btn-primary">Send reset email</button>
    
</form>