<section *ngIf="thread">
	<app-thread-comment-form (onCommentAdded)="onCommentAdded($event)" [threadId]="thread.id"></app-thread-comment-form>
	<h2>You selected:  {{thread.id}}</h2>
	<p>Id {{thread.id}}</p>
	<div class="actions">
		<button type="button" (click)="isLiked = !isLiked" [ngClass]="{liked: isLiked}">❤</button>
		<button type="button" (click)="showComments = !showComments">Comments ({{thread.comments.length}})</button>
	</div>
	<!-- <div class="comments" *ngIf="showComments"> -->
	<div class="comments" >
		<div class="comment" *ngFor="let comment of thread.comments">
			<p><strong>{{comment.name}}</strong> {{comment.comment}}</p>
		</div>
	</div>  
</section>