<form (submit)="onSubmit()" #commentForm="ngForm" novalidate>
    <div>
        <textarea name="comment" [(ngModel)]="comment" required minlength="3" #commentField="ngModel"></textarea>
        <div class="alert alert-danger" *ngIf="(commentForm.submitted || commentField.dirty || commentField.touched) && commentField.errors">
            <div [hidden]="!commentField.errors.required">Comment is required</div>
            <div [hidden]="!commentField.errors.minlength">Comment must be a minimum of 3 characters long</div>
        </div>
    </div>
    <div>
        <button [attr.disabled]="canMakeComment == false ? true : null">Add comment</button>
    </div>
</form>