<!-- <nav class="dropdownmenu">
	<ul>
		<li><a class="link" href="#">Hacker News</a></li>
		<li><a href="#">news</a></li>
		<li><a href="#">threads</a></li>
		<li><a href="#">comments</a></li>
		<li><a href="#">show</a></li>
		<li><a href="#">ask</a></li>
		<li><a href="#">jobs</a></li>
		<li><a class="link" [routerLink]="['/submit']">submit</a></li>
		<li><a href="#">([username])</a></li>
		<li><a class="link" [routerLink]="['/login']">login/logout</a></li>
	</ul>
</nav>  -->
<app-header></app-header>
<main >

	<router-outlet></router-outlet>
	<br>
	<br> 
</main>

<br>
<br> 


<!--app-thread-list></app-thread-list-->