
<h1>Login</h1>
<form (submit)="onSubmit()" #loginForm="ngForm" novalidate>
    <div>
        <label for="username">Username</label>
        <input type="text" name="username" [(ngModel)]="username" required minlength="3" #usernameField="ngModel" />
        <!--div class="alert alert-danger" *ngIf="(loginForm.submitted || nameField.dirty || nameField.touched) && nameField.errors">
            <div [hidden]="!nameField.errors.required">Username is required</div>
            <div [hidden]="!nameField.errors.minlength">Username must be a minimum of 3 characters long</div>
        </div-->
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" [(ngModel)]="password" required minlength="3" #passwordField="ngModel" />
        <!--div class="alert alert-danger" *ngIf="(loginForm.submitted || nameField.dirty || nameField.touched) && nameField.errors">
            <div [hidden]="!nameField.errors.required">Password is required</div>
            <div [hidden]="!nameField.errors.minlength">Password must be a minimum of 3 characters long</div>
        </div-->
    </div>
    <div>
        <button>Log in</button>
    </div>
</form>


<h1>Register</h1>
<form (submit)="onSubmit2()" #registerForm="ngForm" novalidate>
    <div>
        <label for="username">Username</label>
        <input type="text" name="username" [(ngModel)]="reg_username" required minlength="3" #usernameField="ngModel" />
        <!--div class="alert alert-danger" *ngIf="(loginForm.submitted || nameField.dirty || nameField.touched) && nameField.errors">
            <div [hidden]="!nameField.errors.required">Username is required</div>
            <div [hidden]="!nameField.errors.minlength">Username must be a minimum of 3 characters long</div>
        </div-->
    </div>
    <div>
        <label for="email">Email</label>
        <input type="email" name="email" [(ngModel)]="reg_email_addr" required minlength="3" #emailField="ngModel" />
        <!--div class="alert alert-danger" *ngIf="(loginForm.submitted || nameField.dirty || nameField.touched) && nameField.errors">
            <div [hidden]="!nameField.errors.required">Password is required</div>
            <div [hidden]="!nameField.errors.minlength">Password must be a minimum of 3 characters long</div>
        </div-->
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" [(ngModel)]="reg_password" required minlength="3" #passwordField="ngModel" />
        <!--div class="alert alert-danger" *ngIf="(loginForm.submitted || nameField.dirty || nameField.touched) && nameField.errors">
            <div [hidden]="!nameField.errors.required">Password is required</div>
            <div [hidden]="!nameField.errors.minlength">Password must be a minimum of 3 characters long</div>
        </div-->
    </div>
   
    <button>Register</button>
    
</form>