
<div class="col-12">
    <h5>User Information</h5>
    <h6>Update Password for <span>{{user.username}}</span></h6>
    <div class="alert alert-secondary" role="alert" *ngIf="alertMsg">{{alertMsg}}</div>
    <form (submit)="onSubmit()" #userUpdateForm="ngForm" novalidate>
        <div class="form-group">                
             <div>
                <label for="password">Old Password</label>
                <input class="form-control" type="password" name="password" [(ngModel)]="user.password" required  #passwordField="ngModel" />
                <div class="alert alert-danger" *ngIf="(userUpdateForm.submitted || passwordField.dirty || passwordField.touched) && passwordField.errors">
                    <div [hidden]="!passwordField.errors.required">Old password is required</div>
                </div>
            </div>
            <div>
                <label for="password">New Password</label>
                <input class="form-control" type="password" name="password" [(ngModel)]="user.new_password" required minlength="4" required maxlength="20" #newPasswordField="ngModel" />
                <div class="alert alert-danger" *ngIf="(userUpdateForm.submitted || newPasswordField.dirty || newPasswordField.touched) && newPasswordField.errors">
                    <div [hidden]="!newPasswordField.errors.required">New password is required</div>
                    <div [hidden]="!newPasswordField.errors.minlength">New password must be a minimum of 4 characters long</div>
                    <div [hidden]="!newPasswordField.errors.maxlength">New password must be a maximum of 4 characters long</div>
                </div> 
            </div>       
        </div>
        <button>Save New Password</button>        
    </form>
</div>