<nav class="dropdownmenu">
	<ul>
		<li><a class="link" href="#">Hacker News</a></li>
		<li><a href="#">news</a></li>
		<li><a href="#">threads</a></li>
		<li><a href="#">comments</a></li>
		<li><a href="#">show</a></li>
		<li><a href="#">ask</a></li>
		<li><a href="#">jobs</a></li>
		<li><a class="link" [routerLink]="['/submit']">submit</a></li>
		<li *ngIf="getUserName()" ><a href="#">{{getUserName()}}</a></li>
		<li><a class="link" [routerLink]="['/login']">{{getUserNameText()}}</a></li>
	</ul>
</nav>